*{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
}
body{
    background-color: rgb(179, 179, 179);

}
.header{
    width: 100%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    height: 15%;
    box-shadow: 0px 10px 10px grey;
}
.registerBox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.registerTable{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 12px;
}
.registerRow p{
    margin-top: 10px;
    font-weight: bold;
}
.registerTable div{
    display: flex;
    justify-content: space-between;
}
.registerRow{
    
    position: relative;
}
.registerRow input{
    width: 75%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    text-align: left;
    padding:4px 8px;
    font-size:12px;
}
#generated-id, #edit-id{
    position: absolute;
    left: 25%;
}
.background1{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
    height: 400px;
    width: 30%;
    position: relative;
    z-index: 0;
}

.background2{
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
    height: 400px;
    width: 30%;
    position: relative;
    z-index: 0;
    
}
.symbol1{
    position: absolute;
    width: 50%;
    height: 60%;
    left: 20px;
    top: 30px;
    
}
.logo1{
    position: absolute;
    width: 40%;
    right: 20px;
    top: 30px;
    
}
.tableTop{
    background-color: rgb(230, 60, 43);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 80px;
}
.tableBox{
    width: 94%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 20px;
}
#personelTable{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 0px solid rgb(233, 231, 232);
    padding: 8px;
    text-align: left;
    font-size: 14px;
    
}

th {
    background-color: rgb(233, 231, 232);
    width: 14,3%;

}
tr:nth-child(n+1){
    background-color:white;
}
tr:hover {
    background-color: #f5f5f5;
}
.black-b{
    background-color: black;
    color: white;
    padding: 4px 2px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
}
.removeAll{
    cursor: pointer;
    height: 30px;
    background-color: rgb(94, 96, 95);
    color: white;
    margin-top: 8px;
    padding:4px 2px;
    font-size:12px;
    border: solid 2px black;
    float: inline-end;
    margin-right: 20px;

}
#noDel{
    margin-top: 8px;
    width: 20%;
    height: 30px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: left;
    padding:4px 8px;

    font-size:12px;
    border: none;
}
.noDel{
    background-color: black;
    color: white;
    padding: 4px 2px;
    margin-top: 8px;
    cursor: pointer;
    height: 30px;
    border: none;
}

.delete-btn{
    cursor: pointer;
    margin:0px 5px;
    padding:3px;
    border-radius: 5px;
}
.edit-btn{
    cursor: pointer;
    margin:0px 5px;
    padding:0px 3px;
    border-radius: 5px;
}
.tableTop > p{
    float: left;
    color: white;
    padding: 8px 8px;
    font-size: 14px;
    font-family: system-ui;
}
.tableTop div{
    display: flex;
    justify-content: flex-end;
}
.delnote{
    font-size: 10px;
    color: white;
    width: 99%;
    text-align: right;
    margin-right: 20px;
}
